In [1]:
import numpy as np
import pandas as pd

- Generating the Data

In [2]:
data={'Karachi':{2000:0.95,2001:0.95,2002:0.99,2003:0.99,2004:1},
     'Islamabad':{2000:0.80,2001:0.81,2002:0.83,2003:0.86,2004:0.9}}

In [3]:
data

{'Karachi': {2000: 0.95, 2001: 0.95, 2002: 0.99, 2003: 0.99, 2004: 1},
 'Islamabad': {2000: 0.8, 2001: 0.81, 2002: 0.83, 2003: 0.86, 2004: 0.9}}

In [4]:
df=pd.DataFrame(data)

In [7]:
df

      Karachi  Islamabad
2000     0.95       0.80
2001     0.95       0.81
2002     0.99       0.83
2003     0.99       0.86
2004     1.00       0.90

In [35]:
#YOU CAN ALSO NAME THE COLUMNS A SPECIFIC NAME
df.columns.name='CITIES'
df

CITIES  Karachi  Islamabad
Year
2000       0.95       0.80
2001       0.95       0.81
2002       0.99       0.83
2003       0.99       0.86
2004       1.00       0.90

In [8]:
df.index

Int64Index([2000, 2001, 2002, 2003, 2004], dtype='int64')

In [10]:
df.index.name='Year'

In [11]:
df

      Karachi  Islamabad
Year
2000     0.95       0.80
2001     0.95       0.81
2002     0.99       0.83
2003     0.99       0.86
2004     1.00       0.90

In [15]:
df.values #retreiving all the values

array([[0.95, 0.8 ],
       [0.95, 0.81],
       [0.99, 0.83],
       [0.99, 0.86],
       [1.  , 0.9 ]])

In [16]:
type(df.values)

numpy.ndarray

#  INDEX OBJECTS

##### The index objects are responsible to hold the labels and metadata, such as the index name  and axis name

In [18]:
obj=pd.Series(range(3),index=[chr(i) for i in range(65,68)])

In [19]:
obj

A    0
B    1
C    2
dtype: int64

In [21]:
index=obj.index 
index

Index(['A', 'B', 'C'], dtype='object')

In [23]:
index[1:] #slicing the index

Index(['B', 'C'], dtype='object')

In [24]:
obj[1:]

B    1
C    2
dtype: int64

In [26]:
#IMMUTABILITY, MAKES THE INDEX OBJECTS SAFER TO PASS OBJECTS AMONG DATA STRUCTURE

In [29]:
labels=pd.Index(np.arange(3))

In [30]:
labels

Int64Index([0, 1, 2], dtype='int64')

In [31]:
obj2=pd.Series([1.2,24.2,1.2],index=labels)

In [32]:
obj2

0     1.2
1    24.2
2     1.2
dtype: float64

In [33]:
df.columns  #here, the index is behaving as an fixed size set because of being an array,

Index(['Karachi', 'Islamabad'], dtype='object')

In [36]:
df.columns.name

'CITIES'

In [37]:
#INDEX CAN ALSO CONTAINS DUPLICATE VALUES

In [38]:
dup_labels=pd.Index(['wood','marbel','wood','steel','fire','steel'])

In [39]:
type(dup_labels)

pandas.core.indexes.base.Index

In [42]:
type(labels)

pandas.core.indexes.numeric.Int64Index

In [43]:
dup_labels

Index(['wood', 'marbel', 'wood', 'steel', 'fire', 'steel'], dtype='object')

In [44]:
pd.Series(np.arange(6),index=dup_labels)

wood      0
marbel    1
wood      2
steel     3
fire      4
steel     5
dtype: int64

In [46]:
dup_labels.append='marbels'

In [53]:
dup_labels.append

'marbels'

In [54]:
dup_labels

Index(['wood', 'marbel', 'wood', 'steel', 'fire', 'steel'], dtype='object')

In [55]:
len(dup_labels)

6

In [69]:
dup_labels.difference(['wood','steel']) #compute set difference as an object

Index(['fire', 'marbel'], dtype='object')

In [58]:
labels

Int64Index([0, 1, 2], dtype='int64')

In [68]:
labels.difference([2,1]) #compute set difference as an index

Int64Index([0], dtype='int64')

In [70]:
dup_labels.intersection(['wood'])  #COMPUTE SET INTERSECTION

Index(['wood', 'wood'], dtype='object')

In [71]:
dup_labels.intersection(['steel'])

Index(['steel', 'steel'], dtype='object')

In [72]:
dup_labels.intersection(['fire'])

Index(['fire'], dtype='object')

In [84]:
labels.union([2])

Int64Index([0, 1, 2], dtype='int64')

InvalidIndexError: Reindexing only valid with uniquely valued Index objects